{%extends 'base.html'%}

{%block title%}Admin_Home{%endblock%}

{%block content%}
<br>
<a href="/">Inicio</a>
<br>

<h1>Datos del post</h1>
<a href="/admin/editar">Nuevo post</a>

<table>
    <tr>
        <th>Titulo</th>
        <th>Autor</th>
        <th>Fecha</th>
        <th>acciones</th>
    </tr>
    {% for post in posts%}
    <tr>
        <td><a href="/admin/post/{{post[0]}}"> {{post[3]}}</a></td>
        <td>{{post[2]}}</td>
        <td>{{post[1]}}</td>
        <td><a href="/admin/editar/{{post[0]}}">Editar</a></td>
        <td><a href="/admin/delete/{{post[0]}}">Borrar</a></td>
    </tr>
    {%endfor%}
</table>

{%endblock%}
